<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/form', user: @user, book: @book %>

      <!-- 自分または他人のユーザー情報を表示するサイドバー -->
      <div class="user-info">
        <h2><%= @user.name %></h2>
        <p><%= @user.introduction %></p>
        <!-- 自分または他人でも編集リンクを表示 -->
        <% if user_signed_in? %>
          <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% @user.books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user) do %>
                  <%= image_tag book.user.get_profile_image(100, 100) %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(book) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>