<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <h1>Editing Book</h1>

      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <% if @book.errors.any? %>
        <div class="alert alert-danger">
          <h4>There were errors with your submission:</h4>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_with model: @book, local: true do |f| %>
        <div class="form-group">
          <%= f.label :title, "Title" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :body, "Opinion" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Update Book", class: "btn btn-sm btn-success", data: { disable_with: "Update Book" } %>
        </div>
      <% end %>
      <%= link_to 'Show', book_path(@book) %>
       |
      <%= link_to 'Back', books_path %>
    </div>
  </div>
</div>