<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/form', user: current_user, book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>

      <!-- フラッシュメッセージの表示 -->
      <% if flash[:alert] %>
        <p>
          <%= flash[:alert] %>
        </p>
      <% elsif flash[:notice] %>
        <p>
          <%= flash[:notice] %>
        </p>
      <% end %>


      <% if @new_book.errors.any? %>
        <div>
          <h4>There were errors with your submission:</h4>
          <ul>
            <% @new_book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody style="background-color: #ffffff;">
          <% @books.each do |book| %>
            <tr style="background-color: #ffffff;">
              <td>
                <% if book.user %>
                  <%= link_to user_path(book.user) do %>
                    <%= image_tag(book.user.get_profile_image(100, 100) || 'default_image.png', class: "img-fluid") %>
                  <% end %>
                <% else %>
                  <%= image_tag('default_image.png', class: "img-fluid") %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
